<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Personal Website{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"><!-- Link to your external stylesheet -->
    {% block styles %} 

    {% endblock %} <!-- Additional styles specific to child templates -->
    <body>
        <header>
            <h1>Your Website Header</h1>
            <!-- Add your navigation menu here -->
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
            <div class="logo">
                <!-- Placeholder for your great graphic 
               # <img src="{{ url_for('static', filename='images/bg1.jpg') }}" alt="Great Graphic">-->
            </div>
        </header>
        
        <main>
            <!-- Content block where child pages will inject content -->
            {% block content %}{% endblock %}
        </main>
</head>
<body>


    <footer>
        &copy; 2024 My Personal Website
    </footer>
</body>
</html>